<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> {{title}} </h1>
    <p>Welcome to  {{title}} </p>

      <label>From</label><br>
      <input id="date-from" type="date"><br><br>
      <label>until</label><br>
      <input id="date-until" type="date"><br><br>

      <button id="coinButton">Get data</button><br>

      <canvas id="myChart"></canvas>


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/javascripts/financial-data.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  {{!-- <script src="/starter-code/app.js"></script> --}}
  </body>
</html>
